.brand-logo {
	margin-left: 20px;
}

#logo {
	height: 24px;
	width: 24px;
	margin-right: 10px;
}

#loginButton, #registerButton {
	width: 90%;
}

#loginForm {
	margin-top: 100px;
}

/*#addEmployee {
	width: 100%;
}*/

.input-field input[type=text]:focus, input[type=password]:focus, .input-field input[type=email]:focus, .input-field input[type=number]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}