.brand-logo {
	margin-left: 20px;
}

#logo {
	height: 24px;
	width: 24px;
	margin-right: 10px;
}

.loginButtons {
	width: 90%;
}

#registerButton {
	width: 100%;
}

#loginForm {
	margin-top: 100px;
}

#allEmployees {
	height: 400px;
	overflow: scroll;
}

@media screen and (min-width: 992px) {
	.loginButtons {
		width: 90%;
	}
}
