.brand-logo {
	margin-left: 20px;
}

.brand-logo:hover {
	border-bottom: 3px solid #1e88e5;
}

#logo {
	height: 24px;
	margin-right: 10px;
}

.loginButtons {
	width: 100%;
}

#google {
	background-color: #ea4335;
}

#linkedin {
	background-color: #0077b5;
}

#loginForm {
	margin-top: 80px;
}

#noAccount {
	margin-top: 20px;
}

#newEmployee {
	cursor: pointer;
}

#error {
	font-size: 175px;
}

/*#announcementBuilder {
	padding: 10px;
}*/

.circle-small {
	height: 30px;
	margin-left: 15px;
	margin-bottom: -10px;
}